[user]
	name = Callum Vine
	email = cvine@barca.be
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
	default = matching
[alias]
	co = checkout
